@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor1: #261724;
    --cor2: #025159;
    --cor3: #027373;
    --cor4: #58A697;
    --cor5: #ADD9C5;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to right, var(--cor2), var(--cor3));
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
}

table caption {
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--cor5);
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #025159;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 24px;
}

form input:focus {
    border: 2px solid var(--cor1);
}

form button {
    border: none;
    background-color: var(--cor1);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    margin: 30px 0px;
}

form button:hover {
    background-color: var(--cor2);
    transition: .5s;
}

div#resultado p {
    padding: 10px;
}

p.vermelho {
    background-color: #fc5d5d;
}

p.verde {
    background-color: #68ff68;
}